@import "tailwindcss";

body {
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
}

/* Added glass morphism effects for hero section */
 .glass-card {
    padding: 2rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
.input {
  outline: 2px solid white;
  color: black;
  background-color: white   ;
}
.input:focus {
    outline: 2px solid white;

}

.input:active {
  outline: 2px solid white;


}