@import "tailwindcss";

body {
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
}

/* Added glass morphism effects for hero section */
.glass-card {
  padding: 2rem;
  border-radius: 20px;
  background: transparent; /* fully transparent */
  border: 1px solid rgba(255, 255, 255, 0.3); /* subtle border for glass edge */
  backdrop-filter: blur(10px); /* blur background behind the card */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* optional shadow for depth */
  color: white; /* text color */
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.glass-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
}

.input {
  outline: 2px solid white;
  color: black;
  background-color: white   ;
}
.input:focus {
    outline: 2px solid white;

}

.input:active {
  outline: 2px solid white;
}


/* Video css from hero page */
