@import "tailwindcss";

body {
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
}

/* Added glass morphism effects for hero section */
.glass-card {
  padding: 2rem;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.296); /* fully transparent */
  border: 1px solid rgba(255, 255, 255, 0.3); /* subtle border for glass edge */
  backdrop-filter: blur(10px); /* blur background behind the card */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* optional shadow for depth */
  color: white; /* text color */
  text-align: center;
  transition: transform 2s, box-shadow 0.3s;
}

.input {
  outline: 2px solid white;
  color: black;
  background-color: white;
}

.input:focus {
  outline: 2px solid white;
}

.input:active {
  outline: 2px solid white;
}

/* Video css from hero page */
/* HeroSectionVideo.css */
.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; /* behind your content */
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6); /* optional dark overlay effect */
  /* optional: add smooth fade-in */
  opacity: 0;
  animation: fadeInVideo 1.5s forwards;
}

@keyframes fadeInVideo {
  to {
    opacity: 1;
  }
}
